#home {
  padding: 0;
}

.parent {
  background: white;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: right;
  align-items: right;
  cursor: pointer;
  border-radius: 10px;
  border-color: cadetblue;
}

.parent[data-isOpen="true"] {
  width: 100%;
  height: 100%;
}

.leftfram{
  width: 60%; 
  margin-bottom: 10%;
}

.rightfram{
  width: 40%;
  margin-left: 10%;
  margin-bottom: 4%;
}

.hero-main-cont {
  width: 100%;
  display: flex;
  height: 800px; 
  gap: 5%;
  padding: 1.5rem;
  align-self: start;
  align-self: flex-end;
  margin-top: 6rem;
  justify-content: center; 
  border-radius: 20px; 
}
 
.cyann{
  color: cyan
}

.hero-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  overflow: hidden;
  transition: var(--transition);
}

.hero-main-text {
  font-size: 54px;
}

.hero-img {
  width: 80%;
  height: 80%;
  border-radius: 2%;
}

.hero-sub-cont-1 {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  gap: 10px;
  flex: 1;
}

.aniHero{
  background-image: url(../../assets/hero_background.jpg);
}

.hero-subtext {
  color: var(--black);
  display: flex;
  gap: 5px;
  font-size: 15px;
}

#dark .hero-subtext {
  color: var(--yellow);
}

.what_am_i {
  font-size: 20px;
}

.head-span-text {
  color: var(--alt-text);
  font-size: 13px;
}

.btn {
   background: inherit;
   font-family: inherit;
   font-size: inherit;
   border: none;
   cursor: pointer;
}

.btn-div {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

.wave {
  font-size: 40px;
}

@media (max-width: 1000px) {
  .hero-main-text {
    font-size: 35px;
  }

  .hero-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .hero-flex {
    grid-template-columns: 1fr;
    padding: 4rem 0 0;
  }

  .left_align {
    display: none;
  }

  .wave {
    font-size: 20px;
  }

  .hero-main-text {
    font-size: 25px;
  }

  .what_am_i {
    font-size: 15px;
  }

  .hero-subtext {
    font-size: 12px;
  }
}

.move_to_top{ 
  right: 10px;
  top: 10%;
  position: absolute; 
} 
 