@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Oswald:wght@200&family=Pixelify+Sans&family=Roboto+Condensed:wght@300&family=Roboto+Mono&display=swap');

#skill {
   background-repeat: no-repeat;
   background-position-y: 100%;
   background-size: 20%;
   transition: var(--transition);
}

.tech{
   width: 65vw;
   display: flex;
   gap: 100px;
}

.lefttech{
   width: 40%;
}

.customFont{
   font-family: 'Gabarito', cursive;
   font-family: 'Oswald', sans-serif;
   font-family: 'Pixelify Sans', cursive;
   font-family: 'Roboto Condensed', sans-serif;
   font-family: 'Roboto Mono', monospace;
}

.makeitgrid{
   display: grid;
   grid-template-columns: repeat(2 , 1fr);
   grid-template-rows: repeat(1 , 1fr);
   gap: 15px;
}

.righttech{
   width: 52%;
}

.my-skills-container {
   width: 70%;
   display: flex;
   flex-direction: column;
   gap: 40px;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: auto;
   padding: 2rem;
}

@media (max-width : 900px) {
   #skill {
      background-size: 70% !important;
   }

   .tech{
      display: flex;
      flex-wrap: wrap;
   }

   .lefttech{
      width: 100%;
   }

   .righttech{
      width: 100%;
   }
   
   .my-skills-container {
      width: 100% !important;
   }
}
