@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Oswald:wght@200&family=Pixelify+Sans&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Oswald:wght@200&family=Pixelify+Sans&family=Roboto+Condensed:wght@300&family=Roboto+Mono&display=swap');

.about-main-container {
   max-width: 1540px;
}

.about-me-text {
   max-width: 600px;
   text-justify: inter-word;
   margin-bottom: 10px;
   /* font-style: 'Gabarito' , serif;  */
   font-family: 'Gabarito', cursive;
   font-family: 'Oswald', sans-serif;
   font-family: 'Pixelify Sans', cursive;
   font-family: 'Roboto Mono', monospace;
}

.about-me-textt {
   font-family: 'Gabarito', cursive;
   font-family: 'Oswald', sans-serif;
   font-family: 'Pixelify Sans', cursive;
   font-family: 'Roboto Condensed', sans-serif;
   font-family: 'Roboto Mono', monospace;
   font-size: 0.8rem;
}

.about-container {
   display: flex;
   flex-wrap: wrap;
   height: inherit;
   gap: 30px;
   align-items: center;
   justify-content: center;
   color: var(--black);
}

#dark .about-container {
   color: var(--white);
}

.ach-ie {
   color: rgb(126, 212, 5);
   font-size: 1.3rem;
   margin-bottom: 5px;
}

.ull {
   text-decoration: underline;
}

.cyan {
   color: cyan
}

.para-c{
   color: rgb(236, 225, 12);
}

.about-image {
   width: 100%;
}

.flex {
   display: flex;
   align-items: center;
   gap: 10px;

}

.column {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.abt-image-div {
   width: 80px;
   height: 80px;
}

.abt-header {
   font-weight: 800;
}

.alt-text {
   color: var(--alt-text);
}

.about-sub-cont {
   max-width: 600px;
   display: grid;
   gap: 10px;
}

.short-hr {
   border: none;
   border-bottom: 5px solid var(--primary-text);
   width: 20%;
   border-radius: 7px;
   margin-bottom: 10px;
}

#dark .short-hr {
   border-color: var(--yellow);
}

.get-in-touch-btn {
   cursor: pointer;
   animation: buttonPulse 1s infinite ;
}

@keyframes buttonPulse {
   
   50% {
      /* opacity: 0.5; */
      color: var(--alt-text);
   }
   
}
@media (max-width : 600px) {
   .about-container {
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;
      width: 60%;
      
     
   }

   .flex {
      justify-content: center;
 
    
   }

   .short-hr {
      width: 10%;
   }
}